ul{
    display: inline-flex;
    margin-top: initial;
    padding: 1rem;
    justify-content: center;
}
.menu1{
    display: inline-flex;
    margin-top: initial;
    padding: 1rem;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 20px;

}
.menu2{
    display: inline-flex;
    margin-top: initial;
    padding: 1rem;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 20px;
    color: white;
}


 ul{
    /* background-color: rgb(37, 37, 37); */
    position:sticky;
    width: 100%;
}
.nandita1{
    font-size:27px;
    font-family: "LibreBaskerville";
    padding-top: 9.5px;
    padding-right: 10px;
    padding-left: 10px;
    
   
}
.nandita2{
    font-size:27px;
    font-family: "LibreBaskerville";
    padding-top: 9.5px;
    padding-right: 10px;
    padding-left: 10px; 
    color:white;
}
.navbox1{
    background-color:white;
    position: fixed;
    width: 100%;
    height: 5rem;
}
.navbox2{
    background-color:transparent;
}

.content{
    display:flex;
}
.para1{
    background-color: lightblue;
}
.para2{
    background-color: lightsalmon;
}
.anchor1{
    text-decoration: none;
    color:black;
    
}
.anchor2{
    text-decoration: none;
    color: white;
}
