ul{
    display: inline-flex;
    position:sticky;
    margin-left:320px;
}
.menu1{
    list-style-type: none;
    margin-top: initial;
    padding: 1rem;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 20px;

}
.menu2{
    list-style-type: none;
    margin-top: initial;
    padding: 1rem;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 20px;
    color: white;
}
.nandita1{
    font-size:27px;
    font-family: "LibreBaskerville";
    padding-top: 9.5px;
    padding-right: 10px;
    padding-left: 10px;
}
.nandita2{
    font-size:27px;
    font-family: "LibreBaskerville";
    padding-top: 9.5px;
    padding-right: 10px;
    padding-left: 10px; 
    color:white;
}
.navbox1{
    background-color:white;
    position: fixed;
    width: 100%;
    height: 5rem;
}
.navbox2{
    background-color:transparent;
    width: 100%;
}

.content{
    display:flex;
}
.anchor1{
    text-decoration: none;
    color:black;   
}
.anchor2{
    text-decoration: none;
    color: white;
}
.anchor1:hover{
    color:teal;
}
.anchor2:hover{
    color: lightsalmon;
}

