.hello {
  align-items: center;
  margin-top: 15px;
  text-align: center;
  max-height: 500px;
  position: relative;

}

.hello>img {
  height: 500px;
  min-width:95vw;
  max-width: 100vw;
}

.containerJourney {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: relative;
  color: white;
}

.button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-family: "Poppins-Regular";
  transition-duration: 0.4s;
  background-color: rgb(190, 242, 252);
}

.button:hover {
  background-color: teal;
}

.journey-anchor {
  text-decoration: none;
  color: black;
}