.hello{
    margin-top: 15px;
    text-align: center;
   
}
.hello>img{
    height: 400px;
    width: 1000px;
    margin-left: 289px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hello.buton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 251, 251);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
.hello.buton:hover {
    background-color: rgb(78, 158, 84);
  }
  .journey-anchor{
    text-decoration: none;
    color:black;
}