
.box_poem{
    font-family: Poppins-Regular;
    padding-bottom: 1rem;
}


.title_poem{
    text-align:center;
    /* margin-top:20px;
    margin-left:150px; */
    color: white;
    
}
.content_poem{
    text-align:center;
    font-size: 20px;
    margin-left: 12px;
}