/* .MySlide{
   height: 600px;
   width: 1200px;
   margin: 0px;
  
} */
/* .MySlide1{
    height: 700px;
    width: max-content;
 } */
 .slider-wrapper{
    /* background-color: brown; */
    background-color: teal;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
    width: 80vw;
    margin:auto;
 }
 .MySlide {
   
}