
.box1{
   background-image: url("../../Assets/Images/Cover1.jpg");
   background-repeat: no-repeat;
   background-position:0px -220px; 
   background-size: cover;
   height: 700px;
}
.content{
    display:flex;
}

.left{
    display: flex;
    background-color: khaki;
    /* border-radius: 100px; */
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50px 0px 50px 0px;
}
.left-img{
    border-radius: 150px;
    width: 250px ;
    height:250px;
    margin-top: 80px;
    margin-left: 20px;
    float:left;
}
.left-content{
    padding-left: 2rem;
    border-radius: 100px;
    margin-left:20px;
    text-align: justify;
    font-size: 20px;
    font-family: "Poppins-Regular";
    /* background-color: rgba(110, 109, 109, 0.589); */
    padding: 2rem;
}
.body{
    padding:4rem ;
}
.right-Read-more{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Poppins-Regular";
    transition-duration: 0.4s;
    background-color: rgb(190, 242, 252);
    margin-left: 80%;
    margin-top: 1.5rem;
    
}
.right-Read-more:hover{
    background-color: rgb(90, 156, 134);
}
.left-Read-more:hover{
    background-color: rgb(90, 156, 134);
    color: white;
}

.right{
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50px 0px 50px 0px;
   background-color: lightgreen;
}
.right-img{
    border-radius: 150px;
    width: 250px ;
    height:250px;
    margin-left: 40px;
    margin-top: 60px;
    margin-right: 30px;
    float:right;
}
.right-content{
    padding: 2rem;
    border-radius: 100px;
    text-align: justify;
    font-size: 20px;
    font-family: "Poppins-Regular";
}
.left-Read-more{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Poppins-Regular";
    transition-duration: 0.4s;
    background-color: rgb(190, 242, 252); 
}
.anchor{
    text-decoration: none;
}