.about_aboutpg,img{
    height:630px;
    width:1400px;
    margin-top:4px; 
    margin-left:4px;   
    margin-right:4px;  
    /* text-align:center; */
    background-image: url("../../Assets/Images/ab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.obox_aboutpg{ 
     background-color:transparent;
     border: 4px solid white ; 
     position:relative;
     height:350px;
     width:1250px;
     margin-top:100px;
     margin-left:50px;   
     margin-right:50px; 
}
.box_aboutpg{
    position:relative;
    height:250px;
    width:1150px;
    opacity: 0.4;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:50px;   
    margin-right:50px; 
    background-color: white; 
    position:center;
    /* border: 3px solid darkgray ; */
    /* padding:5px; */

}
 
.title_aboutpg{
    font-size: 20px;
    /* margin-top:20px; */
    font-family: LibreBaskerville-Bold;
    font-size: 1.5rem;
    text-align: left ;
    padding:15px;
}
.content_aboutpg{
    text-align: center;
    font-family: Poppins-Regular;
    padding:7px;
}