.button1>button{
    
    height: 60px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Poppins-Regular";
    transition-duration: 0.4s;
    background-color: rgb(190, 242, 252);
    
}

button:hover{
    background-color: rgb(90, 156, 134);
    color: white;
}
.container{
    margin-top: 5.5rem;
    margin-left: 36rem;
    
}