.about_about{
    text-align:center;
    border: 10px solid rgb(126, 107, 107) ;
    height:300px;
    width:700px;
    margin-left: 200px;
    margin-top: 60px;
    background-image: url("../../Assets/Images/ab.jpg");
    background-repeat: no-repeat;
    background-position:0px-300px; 
    background-size: cover;
    padding:50px;  
    
}
.obox_about{ 
    /* background-color:transparent; */
    border: 4px solid grey ; 
    /* position:relative; */
    height:350px;
    width:80vw;  
    margin:auto; 
    /* margin-right:50px;  */
    /* margin-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px; */
    /* background-color: yellowgreen; */
}

.box_about{
   /* position:relative; */
   height:250px;
   width:1150px;
   margin-top:50px;
   margin-bottom:50px;
   margin-left:60px;   
   margin-right:50px; 
   background-color:white; 
   position:center;
   /* border: 3px solid darkgray ; */
   /* padding:5px; */

}

.title_about{
   font-size: 20px;
   font-family: LibreBaskerville-Bold;
   text-align: left ;
   padding:15px;
}
.content_about{
   font-family: Poppins-Regular;
   text-align: center;
   padding:7px;
   font-size: 20px;
}
.about-Read-more_about{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Poppins-Regular";
    transition-duration: 0.4s;
    background-color: rgb(190, 242, 252);
    margin-bottom:40px;
   margin-left: 60vw;
   
}
.about-Read-more_about:hover{
    background-color: rgb(90, 156, 134);
}
.anchor_about{
    text-decoration: none;
    color: black;
}
.parent_obox_about{
    margin:60px;
}
