.menu,li{
    display: inline-flex;
    margin-top: initial;
    padding: 1rem;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 20px;
    color: white;
}
 .menu{
    /* background-color: rgb(37, 37, 37); */
    /* position:fixed; */
    width: 100%;
}
.nandita{
    font-size:27px;
    font-family: "LibreBaskerville";
    padding-top: 9.5px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.box1{
   background-image: url("../../Assets/Images/Cover1.jpg");
   background-repeat: no-repeat;
   background-position:0px -220px; 
   background-size: cover;
   height: 700px;
}
.content{
    display:flex;
}
